:root {
    /* Colors */
    --background:   #2C2C2C;
    --primary:      #355872;
    --second:       #7acece;
    --shadow:       #1f0942;
    --main-text:    #F3F4F4;
    --card-bg:      #1d1d1d;
}

html { overflow-y: scroll; scroll-behavior: smooth;}



/* Обнуление отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

body {
    background: var(--background); 
    background-image: url('../images-system/gamemaker-logo.svg');
    background-repeat: repeat;
    background-size: 90px 90px;

    font-family: 'Nunito', sans-serif;
    color: var(--main-text);
}

h1 {
    color: var(--main-text);
}



/* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 12px;
    column-gap: 32px;

    background-color: var(--card-bg);

    box-shadow: 0 -5px 10px inset rgba(0, 0, 0, 0.1);
}

header h1{
    color: var(--main-text);
}

/* Header Description */
.head-desc {
    padding: 4px 20px;
    border-radius: 30px;
    background: linear-gradient(to right, var(--primary), #338f8f);
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    
    width: fit-content
}



/* Blog Section & Grid */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 70%;
    margin-bottom: 80px;
}

.blog-grid {
    display: grid;
    gap: 30px;
    margin: 15px;
}

.section-title {
    text-align: center;
    margin: 24px;
    text-shadow: 3px 3px var(--primary), 3px 3px 10px black;
}

@media (min-width: 0px) 
{
    header {
        flex-direction: column;
        font-size: clamp(10px, 2vw, 32px);
    }

    .blog-grid {
        grid-template-columns: repeat(1, minmax(200px, 500px));
    }
}
@media (min-width: 850px) {
    header {
        flex-direction: row;
        font-size: 1rem;
    }

    .blog-grid {
        grid-template-columns: repeat(2, minmax(400px, 500px));
    }
}
@media (min-width: 1400px) {
    .blog-grid {
        grid-template-columns: repeat(3, minmax(400px, 400px));
        justify-content: center;  /* Центрируем, если осталось место */
    }
}





/* Blog Card */
.blog-card {
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;

    background-color: var(--card-bg);
    border: 1px solid #505050;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.3s;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 
        0 2px 15px 0 rgba(0, 0, 0, 0.5), 
        0 15px 0 0 var(--second);
}


.blog-card__title {
    text-align: center;
} 


.blog-card__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.blog-card__additional {
    border-top: 1px solid var(--border);
    margin-top: auto;  /* Прижимает футер к низу */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--second);
}

.blog-card__button {
    border: 0;
    padding: 8px 24px;
    border-radius: 8px;

    font-weight:bold;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--main-text);

    transition: background-color 0.15s, color 0.15s;

    box-shadow: 0 1px 3px inset var(--second), 0 -2px 4px inset var(--shadow);
}

.blog-card__button:hover{
    background-color: var(--second);
    color: var(--card-bg);
}

.blog-card__image {
    display: block;
    justify-content:center;
    width: 100%;
}

.blog-image {
    width: 100%;
    height: auto;
    
    
    border-radius: 16px;
    border: 1px solid #505050;
}
