a { text-decoration: none; }

h1 {
    color: var(--main-text);
}


/* Контент занимает все доступное место */
#content {
    flex: 1 0 auto;
    margin-bottom: 50px;
}


.blogs-containter {
    display: flex;
    flex-direction: column;
}


/* Blog Section & Grid */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs-containter {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.container {
    min-width: 70%;
    /* margin-bottom: 80px; */
}

.blog-grid {
    display: grid;
    gap: 30px;
    margin: 15px;
}

.section-title {
    text-align: center;
    margin: 24px;
    text-shadow: 3px 3px var(--primary), 3px 3px 10px black;
}

@media (min-width: 0px) 
{
    .section-title {
        font-size: 1.5rem;
    }
    .blog-grid {
        grid-template-columns: repeat(1, minmax(200px, 500px));
    }
    .blog-card__content {
        font-size: 0.85rem;
    }
    .social-links p {
        font-size: 0.65rem;
    }
    h2 {
        font-size: 1rem;
    }
}
@media (min-width: 850px) {
    .section-title {
        font-size: 2rem;
    }
    .blog-grid {
        grid-template-columns: repeat(2, minmax(400px, 500px));
    }
    .blog-card__content {
        font-size: 1rem;
    }
    .social-links p {
        font-size: 16px;
    }
    h2 {
        font-size: 1.5rem;
    }
}
@media (min-width: 1400px) {
    .blog-grid {
        grid-template-columns: repeat(3, minmax(400px, 400px));
        justify-content: center;  /* Центрируем, если осталось место */
    }

}





/* Blog Card */
.blog-card {
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;

    background-color: var(--card-bg);
    border: 1px solid #505050;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.3s;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 
        0 2px 15px 0 rgba(0, 0, 0, 0.5), 
        0 15px 0 0 var(--second);
}


.blog-card__image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}


.blog-image {    
    width: 100%;
    height: auto;

    border-radius: 16px;
    border: 1px solid #505050;
}

.blog-card__title {
    text-align: center;
} 


.blog-card__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.blog-card__additional {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--col-bor);
}

.blog-card__button {
    border: 0;
    padding: 8px 24px;
    border-radius: 8px;
    align-items: center;

    font-weight: 700;
    cursor: pointer;

    background-color: var(--primary);
    color: var(--text-gray);

    transition: background-color 0.15s, color 0.15s;

    box-shadow: 0 1px 3px inset var(--second), 0 -2px 4px inset var(--shadow);
}

.blog-card__button:hover{
    background-color: var(--second);
    color: var(--card-bg);
}


/* 404 not find page */
.not-found {
    padding: 32px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background-color: var(--card-bg);
}

/* About me */
.about-me {
    min-width: 60%;
    max-width: 80%;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--card-bg);
    margin-left: auto;
    margin-right: auto;

    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: gray;
}

.about-me h2 {
    margin-bottom: 12px;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text);

    opacity: 0.5;
    transition: opacity 0.2s;
}


.social-links img {
    text-decoration: none;

    transition: ease color 0.15s;
    height: 48px;
    opacity: 0.6;
}

.social-links:hover {
    opacity: 1;
}